# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.DS_Store

# Environments
.venv/
venv/
env/

# Streamlit cache
.streamlit/secrets.toml
.streamlit/credentials.toml

# IDE
.idea/
.vscode/

# Logs
*.log

# Build artifacts
dist/
build/

# Model weights and binaries
*.pth
sam_vit_b_01ec64.pth